* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  width: 500px;
  background-color: rgb(15, 15, 16);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
}
input {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 20px;
  border: none;
  outline: none;
  font-size: 25px;
}
.buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 8px;
}
button {
  padding: 20px;
  font-size: 25px;
  height: 100px;
  width: 100px;
  text-align: center;
  border-radius: 10px;
}
.clear {
  padding: 20px;
  font-size: 25px;
  width: 93%;
  text-align: center;
  background-color: rgb(233, 229, 229);
  border-radius: 10px;
}
